*.class
bin/
lib/
logs/
configs/
setups/
scripts/
# Package Files #
*.jar
*.war
*.ear
*.zip
# eclipse files
.project
.settings
.classpath
.checkstyle
#key files
.pem
#maven
target
#pom.xml
#linux modified
*~

